:root {
    --primary: #ffd357;
    --primary-dark: #f5c94e;
    --primary-transparent: #ffd35788;
    --off-black: #212529;
    --off-black-transparent: #21252944;
    --text-light: #ffd;
    --bg-secondary: #f0f2f5;
}

.bg-primary {
    background-color: var(--primary) !important
}

.bg-secondary {
    background-color: var(--bg-secondary) !important
}

.masthead {
    background: url("../img/background_placeholder.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

.masthead h1 {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .masthead h1 {
        font-size: 5.5rem;
    }
}

@media (max-width: 1200px) {
    .masthead h3 {
        font-size: 1.35rem;
    }
}

.text-masthead {
    color: var(--text-light);
    text-shadow: #222 0 0 .35rem;
    background: #22222244;
    box-shadow: #22222244 0 0 5rem 5rem;
}

nav {
    background: var(--primary);
    box-shadow: 0 .5vh 1vh #44444499;
    font-weight: 400;
}

.navbar {
    padding: 0 .5rem;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    color: var(--off-black) !important;
}

.navbar-toggler {
    color: var(--off-black) !important;
    border-color: var(--off-black-transparent) !important;
}

.navbar-collapse {
    background: var(--primary);
}

.nav-link {
    color: var(--off-black) !important;
    font-weight: 400;
}

.btn-secondary {
    background: var(--primary) !important;
    border-color: var(--primary) !important;
}

.link-btn {
    margin-left: 1rem;
    margin-right: 1rem;
    background: var(--primary);
    color: var(--off-black);
}

.link-btn:active, .link-btn:focus, .link-btn:hover {
    color: var(--off-black);
}

a {
    color: var(--primary);
}

a:active, a:focus, a:hover {
    color: var(--primary-dark);
}

.portfolio-item:hover .caption {
    background-color: var(--primary-transparent);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
}

.portfolio-item .caption .caption-content p {
    font-weight: 500;
    font-size: 1.2rem;
}

.line {
    display: inline-block;
}