:root {
}

.masthead {
    background: url("../img/background_placeholder.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: auto;
}

nav {
    background: #ffd357;
    height: 3rem;
    box-shadow: 0 .5vh 1vh #44444499;
    color: #fff;
    font-weight: 400;
}

.nav-link {
    color: white !important;
}

.navbar-brand {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.navbar {
    padding: 0;
}

.text-masthead {
    color: #ffd;
    text-shadow: #222 0 0 .35rem;
    background: #22222244;
    box-shadow: #22222244 0 0 5rem 5rem;
}

a {
    color: #ffd357
}

a:active, a:focus, a:hover {
    color: #ffd357
}

.bg-primary {
    background-color: #ffd357!important
}

.bg-secondary {
    background-color: #f0f2f5 !important
}

@media (min-width: 992px) {
    .portfolio-item:hover .caption {
        background-color: #ffd35788;
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem);
    }
}

.portfolio-item .caption .caption-content p {
    font-weight: 500;
    font-size: 1.2rem;
}

.masthead h1 {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

@media (min-width: 1200px) {
    .masthead h1 {
        font-size: 5.5rem;
    }
}

@media (max-width: 1200px) {
    .masthead h3 {
        font-size: 1.35rem;
    }
}

.line {
    display:inline-block;
}